{% extends 'layout.html.twig' %}

{% block content %}
<section class="section-confirm">
	<h1 class="h1 fw-bold text-center my-5 text-secondary">Votre message a bien été envoyé !
		<br><br>Notre équipe va étudier votre demande et reviendra vers vous sous 48h ouvré.</h1>
</section>

{% endblock %}
