{% extends 'layout.html.twig' %}

{% block content %}
	{% for error in errors %}
		<ul>
			<li>{{error}}</li>
		</ul>
	{% endfor %}
	<div class="travel-section container">
		<div class="row justify-content-center align-items-center">
			<h1 class="h1 fw-bold text-secondary mt-5 m-4">Vos coordonnées :</h1>
			<div class="col-md-6">
				<form action="" method="post" class="d-flex flex-column">
					<div class="mb-3">
						<label for="firstname" class="form-label labelForm">Prénom</label>
						<input type="text" class="form-control form-control-lg" name="firstname" id="firstname" placeholder="Ace" required>
					</div>
					<div class="mb-3">
						<label for="lastname" class="form-label labelForm">Nom</label>
						<input type="text" class="form-control form-control-lg" name="lastname" id="lastname" placeholder="Ventura" required>
					</div>
					<div class="mb-3">
						<label for="email" class="form-label labelForm">Email</label>
						<input type="email" class="form-control form-control-lg" name="mail" id="email" placeholder="ace.ventura@gmail.com" required>
					</div>
					<div class="mb-3">
						<label for="" class="form-label labelForm">N° de téléphone</label>
						<input type="phone" class="form-control form-control-lg" name="phone" placeholder="0238507665" required>
					</div>
					<div class="mb-3">
						<label for="" class="form-label labelForm">Adresse</label>
						<input type="text" class="form-control form-control-lg" name="adress" placeholder="1 rue de l'adresse, 45000 Orléans" required>
					</div>
					<button type="submit" class="btn btn-lg btn-light btnForm text-secondary fw-bold">Valider</button>
					<a href="/panier" class="btn btn-lg btn-light mt-3 mb-5 btnForm text-secondary fw-bold">Retour</a>
				</form>
			</div>
			<div class="col-md-6">
				<div class="bloc-map">
					<img src="/assets/images/panda-bambou.png" class="w-100 h-100 imgForm" alt="photo de panda">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
