{% extends "layout.html.twig" %}

{% block title %}
{{parent()}} | Admin
{% endblock %}

{% block content %}
    <section>
        <h1>Gestion des utilisateurs</h1>
        <div class="container">
            <div class="row">
                <div class="table">
                    <div class="thead">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}