{% extends "layout.html.twig" %}

{% block title %}
	{{parent()}}
	| Login
{% endblock %}

{% block content %}
	<section class="section-admin my-5">
		<div class="container h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col col-xl-10">
					<div class="card shadow-lg">
						<div class="row g-0">
							<div class="col-md-6 col-lg-5 d-block custom-block d-flex justify-content-center align-items-center p-3">
								<img src="/assets/images/ANIRENTlogo.png" style="object-fit: contain; width:200px;" alt="image d'animaux">
							</div>
							<div class="col-md-6 col-lg-7 d-flex align-items-center">
								<div class="card-body p-4 p-lg-5 text-black">

									<form action="" method="post" class="text-secondary">
										{% if errors %}
											<ul>
												{% for error in errors %}
													<li>{{error}}</li>
												{% endfor %}
											</ul>
										{% endif %}
										<div class="d-flex align-items-center mb-5 pb-1">
											<span class="h1 fw-bold mb-0">Connexion
												<br>Administrateur</span>
										</div>

										<div class="mb-4">
											<label class="form-label" for="email">Adresse e-mail</label>
											<input type="email" id="email" name="email" class="form-control form-control-lg"/>
										</div>

										<div class="mb-4">
											<label class="form-label" for="password">Mot de passe</label>
											<input type="password" id="password" name="password" class="form-control form-control-lg"/>
										</div>

										<div class="pt-1 mb-4">
											<button class="btn btn-light btn-lg btn-block text-secondary fw-bold" type="submit">Connexion</button>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
