{% extends 'layout.html.twig' %}

{% block content %}
	<form action="" method="post">
		<label for="">Adresse de départ</label>
		<input type="text" name="adress1">
		<label for="">Code postal de départ</label>
		<input type="number" name="post-code1">
		<label for="">Adresse d'arrivée</label>
		<input type="text" name="adress2">
		<label for="">Code postal d'arrivée</label>
		<input type="number" name="post-code2">
		<button type="submit">Valider</button>
	</form>
{% endblock %}
