{% extends 'layout.html.twig' %}

{% block title %}
    {{parent()}} | Accueil

    
{% endblock %}

{% block content %}

{% for animal in animals %}

    <span>{{ animal.name }}</span>
    <span>{{ animal.characteristics }}</span>

    {% endfor %}

{% endblock %}
