{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}
	| Accueil
{% endblock %}

{% block content %}
	<section>
		<div class="landing">
			<img src="#" alt="plein de têtes animaux" class="w-100 h-100">
		</div>
	</section>
	<section>
		<div class="container">
			<div class="bloc-title m-5 d-flex flex-column justify-content-center align-items-center">
				<h1 class="title-home fw-bold">ANI RENT</h1>
				<p>Tu aimes voyager ?</p>
				<p>Et tu aimes les animaux ?</p>
				<p>Alors voyage à dos d'animaux !</p>
			</div>
			<div class="bloc-text m-5 d-flex justify-content-center align-items-center">
				<p>La société ANI RENT à été créé par une équipe de globetrotter motivé pour pouvoir effectuer un voyage à dos d’animal . Vous aurez la possibilité de choisir entre différentes espèces .</p>
			</div>
            <div class="btn-home d-flex justify-content-center align-items-center">
                <a href="/voyage" class="btn btn-lg btn-light text-secondary fw-bold p-5 fs-1">C'est parti !</a>
            </div>
		</div>
	</section>
    <section>
        <div class="block-bg">
            <img src="/assets/images/art-logo-16438007442.png" class="w-25 h-25 head-dog" alt="Tête de chien">
            <img src="/assets/images/Kawaii-Animal-Illutration08-Graphics-6797711-1-580x435.png" class="w-50 h-50 head-fox" alt="Tête de renard">
        </div>
    </section>
{% endblock %}
