.containerCart {
    height: 100%;
    max-width: 140vh;
    margin-bottom: 10rem;
}

.rowForm{
    margin-bottom: 10rem;
}

.section-confirm{
    margin-bottom: 10rem;
}

.btnCard:hover {
    color: $light !important;
    background-color: $secondary;
}