.bg-primary{
    background-color: $primary;
}
.bg-secondary{
    background-color: $secondary;
}
.bg-danger{
    background-color: $danger;
}
.bg-valid{
    background-color: $valid;
}
.text-light{
    color: $light;
}
.text-dark{
    color: $dark;
}
.text-primary{
    color: $primary;
}
.text-secondary{
    color: $secondary;
}
.text-danger{
    color: $danger;
}
.text-valid{
    color: $valid;
}
