.bg-primary{
    background-color: $primary!important;
}
.bg-secondary{
    background-color: $secondary!important;
}
.bg-danger{
    background-color: $danger!important;
}
.bg-valid{
    background-color: $valid!important;
}
.text-light{
    color: $light!important;
}
.text-dark{
    color: $dark!important;
}
.text-primary{
    color: $primary!important;
}
.text-secondary{
    color: $secondary!important;
}
.text-danger{
    color: $danger!important;
}
.text-valid{
    color: $valid!important;
}
