.title {
    -webkit-text-stroke: 2px $primary;
    height: 5rem;
    font-size: 4rem;
    text-shadow: 0 4px 4px rgba($dark, .25);
}

.border-nav{
    border-bottom-color: $valid!important;
    img{
        width: 4rem;
        height: 4rem;
    }
}
.header-logo{   
        display: none;
}

@media screen and (min-width: 500px) {
    .header-logo{   
        display: block;
}
}