.bloc-title {
    h1 {
        font-size: 4rem;
        text-shadow: 3px 4px 1px rgba($valid, 1);
    }
    p {
        font-weight: bold;
        font-size: 2rem;
    }
}

.bloc-text {
    p {
        font-weight: bold;
        font-size: 2rem;
        max-width: 65ch;
    }
}

.btn-home {
    a {
        font-size: 2rem;
    }
    
}

.block-bg {
    display: flex;
    justify-content: space-between;
    .head-dog {
        margin-bottom: -30rem;
    }
    .head-fox {
        margin-bottom: -30rem;
    }
}
