.bloc-title {
    h1 {
        font-size: 4rem;
        -webkit-text-stroke: 2px $primary;
        text-shadow: 0 4px 4px rgba($dark, 0.25);
    }
    p {
        font-weight: bold;
        font-size: 2rem;
    }
}

.bloc-text {
    p {
        font-weight: bold;
        font-size: 2rem;
        max-width: 65ch;
    }
}

.btn-home {
    a {
        font-size: 2rem;
    }
    
}

.block-bg {
    display: flex;
    justify-content: space-between;
    .head-dog {
        margin-bottom: -30rem;
    }
    .head-fox {
        margin-bottom: -30rem;
    }
}
