<footer class="bg-danger border-foot border-5 py-2">
	<div class="container-fluid d-flex justify-content-around align-items-center">
		<a href="https://www.economie.gouv.fr/entreprises/site-internet-mentions-obligatoires" class="mr-4 title-foot text-secondary fw-bold">Mentions légales</a>
	</div>
</footer>
