<footer class="bg-danger fixed-bottom border-foot border-5 py-2">
	<div class="container-fluid d-flex justify-content-around align-items-center">
		<a href="https://www.economie.gouv.fr/entreprises/site-internet-mentions-obligatoires" class="mx-4 title-foot text-secondary fw-bold">Mentions légales</a>
		<a href="/logout" class="btn btn-block btn-light fw-bold text-secondary">Se déconnecter</a>
	</div>
</footer>
