<nav class="navbar bg-danger border-bottom border-nav border-5">
	<div class="container-fluid">
		<a class="d-flex align-items-center mx-4 title text-valid fw-bold" href="/">
			ANI RENT
		</a>
		<img src="/assets/images/mignon-petit-personnage-dessin-anime-escargot_188253-4079.webp" alt="Logo" class="d-inline-block align-text-top rounded-circle">
	</div>
</nav>
