<nav class="navbar bg-danger border-bottom border-nav border-5">
	<div class="container-fluid">
		<a class="d-flex align-items-center mx-4 title text-valid fw-bold" href="/">
			ANI RENT
		</a>
		<img src="/assets/images/ANIRENTlogo.png" alt="Logo" class="d-inline-block align-text-top mx-4">
	</div>
</nav>
