
	<div class="loader">
		<div class="image">
			<img src="/assets/images/ANIRENTlogo.png" alt="image de loader" style="width:150px">
		</div>
		<span class="fs-2 fw-bold loading-text">Chargement</span>
	</div>
