<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=0.670166015625%2C47.75502125407674%2C2.3812866210937504%2C48.59114254808811&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small>
	<a href="https://www.openstreetmap.org/#map=10/48.1748/1.5257">View Larger Map</a>
</small>
